# When adding new definitions here,
#     please also include them in the first part of the .dockerignore file.

# Global excludes across all subdirectories
*.o
*.obj
*.bc
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.so.[0-9].[0-9][0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.sl.[0-9].[0-9][0-9]
*.dylib
*.dll
*.exp
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov*.info
coverage/
coverage-html-stamp
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# Local excludes in root directory
/test/t/__pycache__/
/test/__pycache__/
/test/log/
/log_docker_build/
/test/results/
/test/tmp_check/
/test/tmp_check_iso/
/test/output_iso/
/include/utils/stopevents_defs.h
/include/utils/stopevents_data.h
/orioledb.typedefs
!ci/antithesis/libvoidstar.so

# Ignore generated scripts
sql/orioledb--1.0.sql

# Exclude the PostGIS Docker build directory
/docker-postgis
